{{ partial "header.html" . }}
{{ partial "navigation.html" . }}

<section class="list-content" id="section">	
  {{ $navname := print .Params.firstName " " .Params.name -}}
  {{ .Scratch.Set "navname" $navname -}}
	{{ partial "breadcrumbs.html" . }} 
	
	<div class="row">
	  <div class="col col-lg-10 pt-5 bg-lgray">
	    {{ if eq .Params.academicTitle "<none>" -}}
	    <h1 class="h2">{{ .Params.firstName }} {{ .Params.name }}</h1>
		  {{ else -}}
		  <h1 class="h2">{{ .Params.academicTitle }} {{ .Params.firstName }} {{ .Params.name }}</h1>
		  {{ end -}}
	    
	  </div>
	</div>
	    
	
</section>
{{"<!-- Content End -->" | safeHTML}}

{{ partial "footer.html" . }}