{{ partial "header.html" . }}
{{ partial "navigation.html" . }}

{{"<!-- Content Start -->" | safeHTML}}
<section class="list-content" id="section">	
	{{ partial "breadcrumbs.html" . }} 
	{{ partial "makeTitle.html" . }}	
	
	<div id="content" class="container-fluid mt-0 pt-0 mb-0">
	  {{ range sort (where .Pages "Params.show" "ne" false) "Params.order" "asc" -}}
		<div class="row mt-0 posts">			
			<div class="post col-12 mt-3 mb-3">
		  {{ if .Params.shorttitle -}}
				<h2>{{ .Params.shorttitle }}</h2>
			{{ else -}}
				<h2>{{ .Title }}</h2>
			{{ end -}}
			</div>
			
			Page: {{ . }}
			
			{{ range sort .Pages "Params.order" "asc" -}}
		  <div class="post col-12 col-lg-6 mt-3 mb-3">
				{{ partial "cardMember" . -}}
			</div>
			{{ end -}}
		
		</div>
		{{ end }}
	</div>
</section>
{{"<!-- Content End -->" | safeHTML}}

{{ partial "footer.html" . }}