{{ partial "header.html" . }}
{{ partial "navigation.html" . }}

<section class="list-content" id="section">	
  {{ $navname := print .Params.firstName " " .Params.name -}}
  {{ .Scratch.Set "navname" $navname -}}
	{{ partial "breadcrumbs.html" . }} 
	
	<div class="container-fluid"> 
	  <div class="row">
	    <div class="col col-12 col-lg-10 pt-5 bg-lgray">
	      {{ if eq .Params.academicTitle "<none>" -}}
	      <h1 class="h2">{{ .Params.firstName }} {{ .Params.name }}</h1>
		    {{ else -}}
		    <h1 class="h2">{{ .Params.academicTitle }} {{ .Params.firstName }} {{ .Params.name }}</h1>
		    {{ end -}}
	    </div>
	  </div>
	  
	  <div class="row">
	    <div class="col col-9 bg-lgray mb-n5"> 
	      <p>{{ .Params.position -}}</p>
			  
		    {{ if .Params.room -}}
        <p class="p-s mb-1 mt-1 pt-0"><i class="fa-solid fa-location-dot"></i>&nbsp;&nbsp;Room {{ .Params.room }}</p>	
        {{ end -}}
        
        {{ if .Params.phone -}}
        <p class="p-s mb-1 mt-1 pt-0"><i class="fa-solid fa-phone"></i>&nbsp;&nbsp;{{ .Params.phone }}</p>	
        {{ end -}}
        
        {{ if .Params.fax -}}
        <p class="p-s mb-1 mt-1 pt-0"><i class="fa-solid fa-fax"></i>&nbsp;&nbsp;{{ .Params.fax }}</p>	
        {{ end -}}
        
        {{ if .Params.mail -}}
		    <p class="p-s mb-1 mt-1 pt-0"><a class="maillink" aria-label="Mail to {{ .Params.firstName}} {{ .Params.name }}" href="{{ .Params.mail }}"><i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;Send an email</a></p>
		    {{ end -}}	
	    </div>
	  
	  
	  <div class="col col-6 col-lg-3 bg-lgray pb-5">
	    <img src="{{ .Params.image }}" alt="{{ .Params.name }}" width="300" height="300"class="img-member img-100 b-green">
	  </div>
	</div>
	    
	
</section>
{{"<!-- Content End -->" | safeHTML}}

{{ partial "footer.html" . }}