{{ partial "header.html" . }}
{{ partial "navigation.html" . }}

<section class="list-content" id="section">	
  {{ $navname := print .Params.firstName " " .Params.name -}}
  {{ .Scratch.Set "navname" $navname -}}
	{{ partial "breadcrumbs.html" . }} 
	<div class="container-fluid bg-gray"> 
		<div class="row row-cols-1">
			<div class="col">
			  {{ if eq .Params.academicTitle "<none>" -}}
			  <h1 class="h2">{{ .Params.firstName }} {{ .Params.name }}</h1>
			  {{ else -}}
			  <h1 class="h2">{{ .Params.academicTitle }} {{ .Params.firstName }} {{ .Params.name }}</h1>
			  {{ end -}}
			  
			  <p>{{ .Params.position -}}</p>
		</div>
		
		
		{{ $start_d := "Test" -}}
		{{ $start_m := "Test" -}}
		<div class="ratio1 ratio1-1x1">
<div class="flex-row d-inline-flex align-items-stretch bg-black b-white ms-{{ $margin_start }}" style="position: absolute;">
	<div class="bg-black ps-3 pe-3 pt-2 pb-2 m-0">
		<p class="b-red1 p-s bold text-center mb-0">{{ $start_d }}</p>
		<p class="b-red1 p-s bold text-center mt-0 mb-0 pt-0">{{ $start_m}}</p>
	</div>
</div>
</div>
		
		
	</div>
	
	<div id="content" class="container-fluid mt-0 pt-0 mb-0">
		<div class="row row-cols-1 mt-0 posts" id="posts">			
		
			<div class="post col mt-3 mb-3">
				{{ partial "cardMember" . -}}
			</div>

		</div>
	</div>
</section>
{{"<!-- Content End -->" | safeHTML}}

{{ partial "footer.html" . }}