{{ .Title = .Paramas.firstName }}
{{ partial "header.html" . }}
{{ partial "navigation.html" . }}

<section class="list-content bg-mask-top-white" id="section">	
	{{ partial "breadcrumbs.html" . }} 
	{{ partial "makeTitle.html" . }}	
	
	<div id="content" class="container-fluid mt-0 pt-0 mb-0">
		<div class="row row-cols-1 row-cols-lg-2 mt-0 posts">			
			{{ range sort .Pages "Params.order" "asc" -}}
		  {{ if .Params.shorttitle -}}
				<h2>{{ .Params.shorttitle }}</h2>
			{{ else -}}
				<h2>{{ .Title }}</h2>
			{{ end -}}
			
			Pages: {{ .Pages }}
			
			{{ range sort .Pages "Params.order" "asc" -}}
			  {{ . }}
			  <div class="post col mt-3 mb-3">
				  {{ partial "cardMember" . -}}
			  </div>
			{{ end -}}
		{{ end }}
		</div>
	</div>
</section>
{{"<!-- Content End -->" | safeHTML}}

{{ partial "footer.html" . }}