
{{ "<!-- cardDeckInner Start -->" | safeHTML }}
{{ $title := strings.Title .title -}}
{{ $buttonSize := .buttonSize | default "medium" -}}

{{ $img := "" -}}
{{ if .img -}}
	{{ $img = resources.GetMatch .img -}}
	{{ if not $img -}}
		{{ errorf "The image requires a valid image path: %q (%s)" .img .page -}}
	{{ end -}}
	{{ if or (eq .type "event") (eq .type "news") -}}
		{{ if ne (div (float $img.Width) (float $img.Height)) 1.5 -}}
			{{ errorf "The image must have a ratio of width/height = 3/2: width = %v, height = %v (%s) at %s" $img.Width $img.Height .img .page -}}
		{{ end -}}
	{{ end -}}
{{ else if or (eq .type "event") (eq .type "news") -}}
	{{ errorf "Please specify an image for the post: %s" .page -}}
{{ end -}}

<div class="card card-news b-none h-100 rounded-5 shadow-lg overflow-hidden">
	{{ if $img -}}
	<div class="post-img p-0">
		<img src="{{ .img | absURL }}" class="img-100 p-0" alt="Link to {{ $title }}" width="{{ $img.Width }}" height="{{ $img.Height }}">
	</div>
	{{ end -}}
	
	<div class="card-body p-0 position-relative">
		<a href="{{ .link | absURL }}" class="stretched-link" aria-label="Link to {{ $title }}"></a>
		{{ if or .header .location $title .subtitle .text (eq .showTags "true") -}}
		<div class="container pt-2 pb-0 ps-3 pe-3">
			{{ if eq .titleLevel "none" -}}
				<p class="card-title p-s bold pt-1 mt-1">{{ $title }}</p>
			{{ else if eq .titleLevel "none-small" -}}
				<p class="card-title p-mxs bold pt-1 mt-1">{{ $title }}</p>
			{{ else if eq .titleLevel "h3" -}}
				<h3 id="{{ anchorize $title }}" class="h4 card-title pt-1 mt-1">{{ $title }}</h3>
			{{ else if eq .titleLevel "h2-small" -}}
				<h2 id="{{ anchorize $title }}" class="h4 card-title pt-1 mt-1">{{ $title }}</h2>
			{{ else -}}
				<h2 id="{{ anchorize $title }}" class="h3 card-title pt-2">{{ $title }}</h2>
			{{ end -}}
			
			{{ if .subtitle -}}
			<p class="{{.pClass}} bold">{{ strings.Title .subtitle | safeHTML }}</p>
			{{ end -}}
			
			{{ if .location -}}
			<p class="p-s mb-3 gray"><i class="fas fa-map-marker-alt" style="width: 0.6rem"></i>&nbsp;&nbsp; {{ .location }}</p>
			{{ end -}}
		
			{{ partial "myMarkdownify" (dict "txt" .text "p" .pClass) -}}
		</div>
		{{ end -}}
	</div>
	
	{{ if or $title .subtitle .text (eq .showTags "true") -}}
	<div class="rounded-0 card-footer pt-0 pb-4 bg-white b-none position-relative">
	{{ else -}}
	<div class="rounded-0 card-footer pt-4 pb-4 bg-white b-none position-relative">
	{{ end -}}
		{{ if .mail -}}
			<p>
			{{ if eq .buttonSize "medium" -}}
			<a class="quicklink has--icon quicklink_icon bold medium" href="mailto:{{ .mail }}" aria-label="Mail to{{ .mail }}">
			{{ else -}}
			<a class="quicklink has--icon quicklink_icon p-xs small" href="mailto:{{ .mail }}" aria-label="Mail to{{ .mail }}">
			{{ end -}}
			<i class="fas fa-envelope"></i>
			{{ .mail -}}
			</a>
			</p>
		{{ end -}}
		
		{{ if .link -}}
			{{ if eq .buttonSize "medium" -}}
			<a class="quicklink has--icon quicklink_icon bold medium" href="{{ .link }}" aria-label="Goto website {{ .link }}">
			{{ else -}}
			<a class="quicklink has--icon quicklink_icon p-xs small" href="{{ .link }}" aria-label="Goto website {{ .link }}">
			{{ end -}}
				<i class="fas fa-arrow-right"></i>
				{{ .linktext | default "Learn more"}}
			</a>
			
		{{ end -}}
	</div>
</div>
{{ "<!-- cardDeckInner End -->" | safeHTML }}