{{ "<!-- Footer Start -->" | safeHTML }}
<footer id="footer pt-0 pb-0 mb-0">
  <section class="pt-0 pb-0 mb-0 pt-5 mt-0 bg-black">
    <div class="container-fluid mb-0 mt-0 pt-0">
      <div class="row align-items-end white">
        <div class="col-12 pt-md-4 footer-bottom-right pb-3">
          {{ range .Site.Params.aicenter -}}
            <a href="{{ .link }}" title="{{ .name }}" aria-label="{{ .name }}">
              <img class="img-social" src="{{ .image | absURL }}" width="1" height="2" alt="Link to {{ .name }}">
            </a>
          {{ end -}}
          <br><br>
          <a class="white" href="{{ "/imprint/"| absURL }}">Imprint</a> | 						
          <a class="white" href="{{ "/data-protection/"| absURL }}">Data Protection</a>
        </div>
        
        <div class="col-12 footer-bottom-right pt-4">	
          <p class="p-xs">German AI Centers of Excellence | &copy;{{ dateFormat "2006" now }} | All rights reserved.</p>
		</div>
      </div>
  </section>
  
  <section class="pt-0 pb-0 mb-0 pt-0 mt-0">
    <div class="container-fluid mb-0 mt-0 pt-0">
      <div class="row g-0 pt-4">
        <div class="col">	
          Institutionally funded by
        </div>
		
        <div class="row g-0 row-cols-3 pt-0 align-items-center">
          <div class="col text-md-start text-center p-0">
            <img src="{{ "/images/footer/bmftr.webp" | absURL }}" alt="Bundesministerium für Forschung, Technologie und Raumfahrt" width="600" height="264" class="img-60 mt-3">
          </div>
        </div>
        <div class="row g-0 row-cols-1 pt-2 align-items-center">
          <div class="col text-md-start text-center p-0">
            <img src="{{ "/images/footer/fundedby.webp" | absURL }}" alt="Funded by" width="2000" height="160" class="img-100 mt-3">
          </div>
        </div>
    </div>
  </section>
</footer>
{{ "<!-- Footer End -->" | safeHTML }}

{{"<!-- Js -->" | safeHTML}}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="{{"js/jquery-3.7.1.min.js" | absURL}}"></script>
<script src="{{"js/infiniteScroll.js" | absURL}}"></script>
{{"<!-- Fonts -->" | safeHTML }}
<script src="https://kit.fontawesome.com/528b3852e1.js" crossorigin="anonymous"></script>
</body>
</html>
