
	<h2 id="{{ .year }}">{{ .year }}</h2>
	<hr>
	{{ range .pubitem }}
	<div class="row">		
		<div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
			[{{ .no }}]
		</div>
			
		<div class="col-lg-11 col-md-11 col-sm-10 col-xs-10">
			{{ .author }}.<br> <span style="font-weight:bold;">{{ .title }}</span>.<br> {{ .journal}}.
			{{ if .link }}
			<a href="{{ .link }}">{{ .linktext }}</a>.<br>
			{{ end}}
			{{ if .link2 }}
			<a href="{{ .link2 }}">{{ .linktext2 }}</a>.<br>
			{{ end}}
		</div>
	</div>
	<hr class = "light">		  
	{{ end }} 

