{{ partial "header.html" . }}
{{ partial "navigation.html" . }}

{{"<!-- Content studies Start -->" | safeHTML}}
<section class="list-content" id="section">
  {{ partial "breadcrumbs.html" . }} 
  {{ partial "makeTitle.html" . }}
  
  <div id="content" class="container-fluid mt-0 pt-0 mb-0">
    {{ .Content }}
    
    {{ $pages := sort (where .RegularPages ".Type" "studies") "Params.order" "asc" -}}
    {{ $areas := slice -}}
    
    {{ range $pages -}}
      {{ $area := (dict "title" .Params.title "img" .Params.image "copyright" .Params.copyright "link" .Permalink "text" "" ) -}}
      {{ $areas = $areas | append $area -}}
    {{ end -}}
    {{ partial "sectionCards" (dict "sectionLinks" $areas "title" (print $leaderPage.Params.academicTitle " " $leaderPage.Params.name) ) }}
    
  </div>	  
</section>
{{"<!-- Content studies End -->" | safeHTML}}

{{ partial "footer.html" . }}