{{ partial "header.html" . }}
{{ partial "navigation.html" . }}

{{"<!-- Content Start list -->" | safeHTML}}
{{ if .Params.bgImg -}}
{{ if eq .Params.opac "true" -}}
<section class="list-content noshow-lg" style="background: url('{{ .Params.bgImg }}') rgba(255, 255, 255, 0.5); background-repeat: no-repeat;">
{{ else -}}
<section class="list-content noshow-lg" style="background: url('{{ .Params.bgImg }}'); background-repeat: no-repeat;">
{{ end -}}
{{ end -}}

{{ partial "breadcrumbs.html" . }}
{{partial "makeTitle.html" . }}	
		
	<div class="container-fluid">
		<div class="row row-cols-1">
			<div class="col">
				{{ if false -}} {{ end -}} 
				{{ .Content }}	
			</div>
		</div>
	</div>

</section>

{{"<!-- Section Links Start -->" | safeHTML}}
{{ if .Params.sectionlinks -}}
<section class="list-content pt-0 mb-0">	
	{{ partial "sectionCards" (dict "sectionLinks" .Params.sectionlinks "opac" .Params.opac ) -}}
</section>
{{ end -}}
{{"<!-- Section Links End -->" | safeHTML}}
{{"<!-- Content End List -->" | safeHTML}}

{{ partial "footer.html" . }}