{{ define "header" }}
{{"<!-- header news.html Start -->" | safeHTML}}
{{ partialCached "header.html" (dict "title" (strings.Title .Title) "description" .Description "page" .Permalink "rss" "true" ) .Permalink }}
{{"<!-- header news.html End -->" | safeHTML}}
{{ end -}}

{{ define "content" }}
{{"<!-- content news.htmlStart -->" | safeHTML}}
<section class="mcml-content noshow-lg bg-news" id="section">
	{{ partialCached "breadcrumbs.html" (dict "page" .) "news"}}
	<div class="container-fluid">
		{{ $videoPath := printf "/images/background/videos/%s.mp4" .Params.background -}}
		<video class="background-video2" autoplay playsinline muted loop width=1080 height=1080>
			<source src="{{ $videoPath | absURL }}" type="video/mp4">
		</video>
		<div class="row row-cols-1 row-cols-lg-1">
			<div class="col">
				<h1>{{ strings.Title .Title }}</h1>
			</div>
			{{ partialCached "search-form-post.html" . .Section }}
		</div>
	</div>

	<div id="content" class="container-fluid mt-0 pt-0 mb-0">
		{{ $news := partialCached "getAllNews" . -}}
		{{ partial "paginatePostCards" (dict "posts" $news "page" .) -}}
	</div>
</section>
{{"<!-- content news.html End -->" | safeHTML}}
{{ end -}}

{{ define "lastmod" }}
{{"<!-- lastmod news.html Start -->" | safeHTML}}
{{ $news := partialCached "getAllNews" . -}}
{{ $lastnews := index $news 0 -}}
{{ $lastmod := $lastnews.Date -}}
{{ partial "lastMod" (dict "bgcolor" "bg-news" "date" .Date "lastmod" $lastmod) -}}
{{"<!-- lastmod news.html End -->" | safeHTML}}
{{- end -}}
