{{ define "header" }}
{{"<!-- header news.html Start -->" | safeHTML}}
{{ partialCached "header.html" (dict "title" (strings.Title .Title) "description" .Description "page" .Permalink "rss" "true" ) .Permalink }}
{{"<!-- header news.html End -->" | safeHTML}}
{{ end -}}

{{ define "content" }}
{{"<!-- content news.htmlStart -->" | safeHTML}}
<section class="mcml-content bg-news" id="section">
	{{ partialCached "breadcrumbs.html" (dict "page" .) "news"}}
	<div class="container-fluid">
		<div class="row row-cols-1 row-cols-lg-1">
			<div class="col">
				<h1>{{ strings.Title .Title }}</h1>
			</div>
			{{ partialCached "search-form-post.html" . .Section }}
		</div>
	</div>

	<div id="content" class="container-fluid mt-0 pt-0 mb-0">
		{{ $news := partialCached "getAllNews" . -}}
		{{ partial "paginatePostCards" (dict "posts" $news "page" .) -}}
	</div>
</section>
{{"<!-- content news.html End -->" | safeHTML}}
{{ end -}}
