{{ partial "header.html" . }}
{{ partial "navigation.html" . }}

{{ $path := printf "/static%s" .Params.img -}} 
{{ if not (os.FileExists $path) -}}
{{ errorf "The news %q requires a valid image path:%q" .Permalink $path}}
{{ end -}}

{{"<!-- Content Start list-->" | safeHTML}}
<section class="list-content pb-3" style="background: url('/images/background/sections/bg-mask-top-yellow.webp') left top no-repeat, url('/images/background/sections/bg-mask-bottom-yellow.webp') left bottom no-repeat;" >
	{{ partial "breadcrumbs.html" . }} 
	
	<div class="container-fluid pb-0 pt-0"> 
		<div class="row">
			{{ partial "search-form-news.html" . }}
			<div class="col" style="text-align: right">
				{{ partial "pagination_newsitem" . }}
			</div>
		</div>
	</div>

	<div id="content" class="container-fluid mt-0 pt-0">
		<div class="row">
			<div class="col-12 col-lg-8">	
				<p data-cms-bind="#date" class="p-xs pt-2 mb-1 gray">{{ time.Format "02.01.2006" .Date -}}</p>	
				<div class="row">
					<div class="col-xs-12 col-md-8 col-xxl-6">
					  <img data-cms-bind="#img" src="{{ .Params.img }}" alt="Teaser image to {{ .Title }}" width="300" height="200" class="img-100">
						{{ if .Params.copyright -}}
						<p data-cms-bind="#copyright" class="pt-0 pb-0 mb-1 copyright">&copy;{{ .Params.copyright }}</p>
						{{ else -}}
						<p data-cms-bind="#copyright" class="pt-0 pb-0 mb-1 copyright">&nbsp;</p>
						{{ end -}}
					</div>
				</div>
				<h1 class="h2" data-cms-bind="#title">{{ .Title }}</h1>
				{{ if .Params.subtitle -}}
				<h2 class="h3" data-cms-bind="#subtitle">{{ .Params.subtitle }}</h2>
				{{ end -}}
								
				{{ if .Content -}}
					{{ .Content }}	
				{{ else -}}
				<div data-cms-bind="#teaser">
				{{ partial "myMarkdownify" (dict "txt" .Params.teaser ) }}
				</div>
				<div data-cms-bind="#link">
				{{ partial "learnMore" (dict "link" .Params.link "size" "medium") }}
				</div>
				{{ end -}}
				
				<p data-cms-bind="#date" class="p-xs gray">{{ time.Format "02.01.2006" .Date -}}</p>
				<hr>
			</div>
				
			<div class="col-lg-4 col-sm-12 col-xs-12 ps-lg-4">
				<h3>Related</h3>
					
				{{ $mytag := index .Params.tags 0 -}}
				{{ $myurl := .Permalink -}}
				{{ $tagpages := where site.RegularPages "Params.tags" "intersect" (slice $mytag) -}}
				{{ $index := 0 -}}
				{{ range $tagpages -}}
					{{ if eq .Section "news" }}
						{{ if ne $myurl .Permalink -}}
							{{ $index = add $index 1 -}}
					    	{{ partial "cardRelatedNews" . }}
							  <hr>
						{{ end }}
					{{ end }}
					{{ if eq $index 5 -}}
						{{ break -}}
					{{ end -}}
				{{ end -}}	
			</div>
		</div>
	</div>
</section>
{{"<!-- Content End -->" | safeHTML}}

{{ partial "footer.html" . }}