
{{ "<!-- Breadcrumb Start -->" | safeHTML }}
<div class="container-fluid mybreadcrumb pt-2 pb-0"> 
	<div class="row row-cols-1">
		<div class="col">
			{{ $.Scratch.Set "url" "" -}}
			{{ $links := split .RelPermalink "/" -}}
			{{ $maxlength := sub (len $links) 1 -}}
			{{ $counter := 0 -}}
			{{ $i := $links | len -}}
			<a href="/">Home</a>
		
			{{ if or (eq .Section "news") (eq .Section "events") -}}
				{{ $i = 2 -}}
			{{ end -}}	
				
			{{ range first $i $links -}}
				{{ $counter = add $counter 1 -}}
				{{ if and (gt $counter 1) (lt $counter (len $links)) -}}
					{{ $.Scratch.Add "url" (print "/" . ) -}}
					{{ $page := $.GetPage ($.Scratch.Get "url") -}}
					
					{{ if eq $counter $maxlength -}}
						{{ if $page.Params.navname -}}
							&nbsp;|&nbsp;{{ $page.Params.navname }}
						{{ else if $.Scratch.Get "navname" -}}
						  &nbsp;|&nbsp;{{ $.Scratch.Get "navname" }}
						{{ else -}}
				 			&nbsp;|&nbsp;{{  humanize . }}
						{{ end -}}
		
					{{ else -}}
						{{ with $page.Params.navname -}}
						&nbsp;|&nbsp;<a href="{{ $.Scratch.Get "url" }}/">{{ $page.Params.navname }}</a>
						{{ else -}}
						&nbsp;|&nbsp;<a href="{{ $.Scratch.Get "url" }}/">{{ humanize . }}</a>
						{{ end -}}
					{{ end -}}
				{{ end -}}
			{{ end -}}
		</div>
	</div>
</div>
{{ "<!-- Breadcrumb End -->" | safeHTML }}
	