{{ $path := printf "/static%s" .Params.image -}} 
{{ if not (os.FileExists $path) -}}
{{ errorf "The member %q %q requires a valid image path: %q (%q)" .Params.name .Params.firstName $path . }}
{{ end -}}

<div class="card card-news h-100 mb-2 mt-2 pb-3 b-red">
  <div class="row g-0">
	<div class="col-4 card-body p-0 m-0 b-green">
		<img src="{{ .Params.image }}" class="img-member pr-2 b-green" alt="Image of {{ .Params.firstName}} {{ .Params.name }}" width="100" height="100">
		{{ if .Params.copyright -}}
		<p class="copyright">&copy;{{ .Params.copyright }}</p>
		{{ end -}}
	</div>
	<div class="col-8 card-body ps-3 pb-0 mb-0 b-blue">
		<p class="h3 card-title bold pt-2 mb-1" style="line-height:1.1;">{{ .Params.academicTitle }} {{ .Params.firstName}} {{ .Params.name }}</p>
		{{ if .Params.position -}}
		<p class="card-text mb-1" style="line-height:1.1;">{{ .Params.position }} </p>	
		{{ end -}}
		{{ if .Params.affiliation -}}
		<p class="card-text p-xs mb-1 mt-0 pt-0">{{ .Params.affiliation }} ({{ .Params.uni }})</p>	
		{{ end -}}
		{{ if .Params.phdPosition -}}
		<p class="card-text bold p-xs mb-1" style="line-height:1.1;">{{ .Params.phdPosition }}</p>	
		{{ end -}}
			
		{{ if .Params.mail -}}
		<a class="maillink" aria-label="Mail to {{ .Params.firstName}} {{ .Params.name }}" href="{{ .Params.mail }}"><i class="fa-solid fa-envelope"></i> Send an email</a>
		{{ end -}}	
	</div>
	</div>
</div>
