{{ $path := printf "/static%s" .Params.image -}} 
{{ if not (os.FileExists $path) -}}
{{ errorf "The member %q %q requires a valid image path: %q (%q)" .Params.name .Params.firstName $path . }}
{{ end -}}

<div class="card card-news row h-100 mb-2 mt-2 pb-3 b-red>
	<div class="col-6 card-body ps-2 pb-0 mb-0">
		<img src="{{ .Params.image }}" class="img-member pr-5" alt="Image of {{ .Params.firstName}} {{ .Params.name }}" width="100" height="100">
		{{ if .Params.copyright -}}
		<p class="copyright">&copy;{{ .Params.copyright }}</p>
		{{ end -}}
	</div>
	<div class="col-6 card-body ps-2 pb-0 mb-0">
		<p class="card-title bold pt-2 mb-1" style="line-height:1.1;">{{ .Params.firstName}} {{ .Params.name }}</p>
		{{ if .Params.academicTitle -}}
		<p class="card-title pt-0 mt-0 mb-1 p-xs">{{ .Params.academicTitle }}</p>
		{{ end -}}
		{{ if .Params.affil -}}
		<p class="card-text p-xs" style="font-style: italic">{{ .Params.affil }}</p>
		{{ end -}}
		{{ if .Params.position -}}
		<p class="card-text bold p-s mb-1" style="line-height:1.1;">{{ .Params.position }} ({{ .Params.uni }})</p>	
		{{ end -}}
		{{ if .Params.affiliation -}}
		<p class="card-text p-xs mb-1 mt-0 pt-0">{{ .Params.affiliation }} ({{ .Params.uni }})</p>	
		{{ end -}}
		{{ if .Params.phdPosition -}}
		<p class="card-text bold p-xs mb-1" style="line-height:1.1;">{{ .Params.phdPosition }}</p>	
		{{ end -}}
			
		{{ if .Params.mail -}}
		<a class="maillink" aria-label="Mail to {{ .Params.firstName}} {{ .Params.name }}" href = "mailto:{{ .Params.mail }}"><i class="fa-solid fa-envelope"></i></a>
		{{ end -}}	
	</div>
</div>
