<div class="card b-none card-news h-100">
	<a href="{{ .link }}" class="stretched-link" aria-label="Read more about {{ .title }}"></a>
	
	<div class="row g-0 pr-3 pl-3 pt-3">
		<div class="card-body col-12 col-lg-4 pt-0 pb-0" style="transform: rotate(0);">	
			<img src="{{ .img }}" alt="Link to {{ .title }}" width="300" height="200" class="img-100">
			{{ if .copyright -}}<p class="copyright">&#169;{{ .copyright}}</p>
			{{ else -}}<p class="copyright">&nbsp;</p>
			{{ end -}}
		</div>
		
		<div class="card-body col-12 col-lg-8">
			<h2 class="h3">{{ .title }}</h2>
			{{ if .subtitle -}}
			<h3 class="h4">{{ .subtitle | markdownify }} </h3>
			{{ end -}}
			
			<p class="card-text mt-2">
			  Funding: <a class="card-news" href="{{ .fundingLink }}">{{ .fundingName }}</a>
			</p>
			
			<p class="card-text mt-1 mb-2">
			  Period: {{ .period }}
			</p>
			
			<p class="card-text">{{ partial "myMarkdownify" (dict "txt" .teaser ) }}</p>						
			{{ partial "learnMore" (dict "link" .link "size" "small" "margin" "3" ) -}}
		</div>
	</div>
</div>

	

