{{ if not .Params.eventDate -}}
{{ errorf "The event %q requires a eventDate parameter." .Permalink }}
{{ end -}}

{{ if not .Params.eventDate.start -}}
{{ errorf "The event %q requires a eventDate start parameter." .Permalink }}
{{ end -}}

{{ if not .Params.eventDate.end -}}
{{ errorf "The event %q requires a eventDate end parameter." .Permalink }}
{{ end -}}

{{ $startDate := .Params.eventDate.start -}}
{{ $endDate := .Params.eventDate.end -}}
{{ $start := time.Format "Jan 02" $startDate -}}
{{ $end := time.Format "Jan 02" $endDate -}}
{{ $starttime := $startDate | time.Format ":time_short" -}}
{{ $endtime := $endDate | time.Format ":time_short" -}}

<div class="card card-news mb-2 mt-2 b-none" style="background-color: transparent">
	<a href="{{ .Permalink }}" aria-label="Read more about {{ .Params.title }}" class="stretched-link card-link"></a>
	<div class="card-body">
		<div class="row">
			<div class="col-8 col-xxl-6">
				<img src="{{ .Params.img }}" alt="Link to {{ .Params.title }}" width="300" height="200" class="img-100">
				{{ if .Params.copyright -}}
				<p class="pt-0 pb-0 mb-1 copyright">&copy;{{ .Params.copyright }}</p>
				{{ else -}}
				<p class="pt-0 pb-0 mb-1 copyright">&nbsp;</p>
				{{ end -}}
			</div>
			<div class="col-12">
				<p class="p-xs mb-1 gray">
					{{ .Params.eventType }} &nbsp;&bull;&nbsp; 
					{{ partial "eventDate" (dict "startDate" $startDate "endDate" $endDate ) }} &nbsp;&bull;&nbsp;	
					{{ .Params.location }}
				</p>
				<p class="h4 card-title">{{ .Title }}</p>
				{{ if .Params.subtitle -}}
				{{ partial "myMarkdownify" (dict "txt" .Params.subtitle "p" "card-title p-s bold" ) }}
				{{ end -}}
			
				<p class="card-text p-xs">{{ .Params.description | truncate 150 }}</p>
			</div>
		</div>
	</div>
		
	<div class="card-footer card-news b-none pt-0" style="background-color: transparent">		
		{{ partial "learnMore" (dict "link" .Permalink "size" "small" "text" "Read more") -}}
	</div>
</div>

	

