{{ $title := .title -}}
{{ $text := .text -}}
{{ $link := .link -}}
{{ $img := .img }}

{{ if .img -}}
{{ $path := printf "/static%s" $img -}} 
{{ if not (os.FileExists $path) -}}
{{ errorf "The image %q requires a valid image path:%q" .Permalink $path}}
{{ end -}}
{{ end -}}
 
<div class="col">
	<div class="card card-news b-none h-100">
		<a href="{{ $link }}" class="stretched-link" aria-label="Link to {{ $title }}"></a>
		<div class="card-body pb-0 bg-green">	
			{{ if .img -}}
			<img src="{{ $img }}" class="img-100 b-none" alt="Link to {{ $title }}" width="100" height="100">
			{{ end -}}
			{{ if .copyright -}}
			<p class="copyright pt-0 pb-0">&copy;{{ .copyright }}</p>
			{{ end -}}
			<h2 class="h3 card-title pt-2">{{ $title }}</h2>
			<p class="card-text">{{ $text }}</p>
		</div>
		<div class="rounded-0 card-footer b-none pt-0 bg-white">
			{{ $code := partial "learnMore" (dict "link" $link "size" "medium" ) -}}
			{{ partial "file" (dict "code" $code "indent" 3) }}
		</div>
	</div>
</div>

