{{ "<!-- Footer Start -->" | safeHTML }}
<footer id="footer pt-0 pb-0 mb-0">
	<section class="pt-0 pb-0 mb-0 pt-5 mt-0 bg-black">
		<div class="container-fluid mb-0 mt-0 pt-0">	
			<div class="row row-cols-1 row-cols-md-4 row-cols-lg-4 bg-black" style="color: white">		
				<div class="col mb-5">	
					<p class="bold mb-0">Data Mining Lab</p>
					<hr class="mt-1" style="color: white; opacity: 0.75">
					<a class="footer-nav-link" href="/team/">Team</a><br>
					<a class="footer-nav-link" href="/news/">News</a><br>
					<a class="footer-nav-link" href="/news/">Jobs</a><br>
				</div>
				<div class="col mb-4">	
					<p class="bold mb-0">Studies</p>
					<hr class="mt-1" style="color: white; opacity: 0.75">
					<a class="footer-nav-link" href="/research/areaa/">Bachelor Studies</a><br>
					<a class="footer-nav-link" href="/research/areab/">Master Studies</a><br>
					<a class="footer-nav-link" href="/research/areac/">Master Data Science</a><br>
					<a class="footer-nav-link" href="/publications/">BSc MSc Theses</a><br>
					<a class="footer-nav-link" href="/publications/software/">Previous semesters</a><br>
				</div>
				<div class="col mb-4">	
					<p class="bold mb-0">Research</p>
					<hr class="mt-1" style="color: white; opacity: 0.75">
					<a class="footer-nav-link" href="/research/areaa/">Topics</a><br>
					<a class="footer-nav-link" href="/research/areab/">Projects</a><br>
					<a class="footer-nav-link" href="/publications/">Publications</a><br>
				</div>
				<div class="col mb-4">	
					<p class="bold mb-0">Legal Information</p>
					<hr class="mt-1" style="color: white; opacity: 0.75">
					<a class="footer-nav-link" href="/imprint/">Imprint</a><br>
					<a class="footer-nav-link" href="/data-protection/">Data Protection</a><br>
					<a class="footer-nav-link" href="/contact/">Contact</a><br>
				</div>	
						
			</div>
			<hr class="mt-1" style="color: white; opacity: 0.75">
		</div>
	</section>	
	
	<section class="pt-0 pb-0 mb-0 pt-2 mt-0 bg-black">
		<div class="container-fluid mb-0 mt-0 pt-0 bg-black" style="color: white">
			<div class="row align-items-end white">
				<div class="col-12 pt-md-4 footer-bottom-right">	
					<a class="white" href="/imprint/">Imprint</a> | 						
					<a class="white" href="/data-protection/">Data Protection</a>					
				</div>
				
				<div class="col-12 footer-bottom-right pt-4">	
					<p class="p-xs">Data Mining Lab @ LMU | Institute for Informatics | LMU Munich | &copy;2024 | All rights reserved.</p>
				</div>
			</div>
		</div>
	</section>
</footer>
{{ "<!-- Footer End -->" | safeHTML }}

{{"<!-- Js -->" | safeHTML}}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="{{"js/jquery-3.7.1.min.js" | absURL}}"></script>
<script src="{{"js/infiniteScroll.js" | absURL}}"></script>
{{"<!-- Fonts -->" | safeHTML }}
<script src="https://kit.fontawesome.com/528b3852e1.js" crossorigin="anonymous"></script>
</body>
</html>
