{{ "<!-- Footer Start -->" | safeHTML }}
<footer id="footer pt-0 pb-0 mb-0">
  <section class="pt-0 pb-0 mb-0 pt-5 mt-0 bg-black">
    <div class="container-fluid mb-0 mt-0 pt-0">
      <div class="row align-items-end white">
        <div class="col-12 pt-md-4 footer-bottom-right pb-3">
          <a href="https://www.bifold.berlin" title="BIFOLD" aria-label="BIFOLD">
            <img class="img-social" src="{{ "/images/logos/bifold.jpg" | absURL }}" width="1" height="2" alt="Link to BIFOLD">
          </a>
          <a href="https://www.dfki.de" title="DFKI" aria-label="DFKI">
            <img class="img-social" src="{{ "/images/logos/dfki.jpg" | absURL }}" width="1" 2="100" alt="Link to DFKI">
          </a>
          <a href="https://lamarr-institute.org" title="LAMARR" aria-label="LAMARR">
            <img class="img-social" src="{{ "/images/logos/lamarr.webp" | absURL }}" width="1" height="2" alt="Link to LAMARR">
          </a>
          <a href="https://mcml.ai" title="MCML" aria-label="MCML">
            <img class="img-social" src="{{ "/images/logos/mcml.webp" | absURL }}" width="1" height="2" alt="Link to MCML">
          </a>
          <a href="https://scads.ai" title="Scads.AI" aria-label="Scads.AI">
            <img class="img-social" src="{{ "/images/logos/scads.webp" | absURL }}" width="1" height="2" alt="Link to Scads.AI">
          </a>
          <a href="https://tuebingen.ai" title="Tue.AI" aria-label="Tue.AI">
            <img class="img-social" src="{{ "/images/logos/tueai.jpg" | absURL }}" width="1" height="2" alt="Link to Tue.AI">
          </a>
          <br><br>
          <a class="white" href="{{ "/imprint/"| absURL }}">Imprint</a> | 						
          <a class="white" href="{{ "/data-protection/"| absURL }}">Data Protection</a>					
        </div>
        
        <div class="col-12 footer-bottom-right pt-4">	
          <p class="p-xs">German AI Centers of Excellence | &copy;{{ dateFormat "2006" now }} | All rights reserved.</p>
		</div>
      </div>
  </section>
  
  <section class="pt-0 pb-0 mb-0 pt-0 mt-0">
    <div class="container-fluid mb-0 mt-0 pt-0">
      <div class="row pt-4">
        <div class="col">	
          Institutionally funded by
        </div>
		
        <div class="row g-0 row-cols-1 pt-0 align-items-center">
          <div class="col text-md-start text-center p-0">
            <img src="{{ "/images/footer/bmftr.webp" | absURL }}" alt="Bundesministerium für Forschung, Technologie und Raumfahrt" width="600" height="264" class="img-60 mt-3 b-red">
          </div>
        </div>
        
        <div class="row g-0 row-cols-1 row-cols-md-6 pt-0 align-items-center"> 
          <div class="col text-md-start text-center p-0">
              <img src="{{ "/images/footer/berlin.webp"| absURL }}" alt="funded by Senat Berlin Wissenschaft" width="900" height="660" class="img-40 mt-3 b-red">
          </div>

          <div class="col text-md-start text-center p-0">
              <img src="{{ "/images/footer/nrw.webp"| absURL }}" alt="funded by MKW NRW" width="900" height="180" class="img-100 mt-3 b-red">
          </div>
          
          <div class="col text-md-start text-center p-0">
              <img src="{{ "/images/footer/hta_square.webp"| absURL }}" alt="funded by High Tech Agenda Bayern" width="414" height="363" class="img-40 mt-3 b-red">
          </div>
          
          <div class="col text-md-start text-center p-0">
              <img src="{{ "/images/footer/stmwk.webp"| absURL }}" alt="funded by StMWK Bayern" width="600" height="87" class="img-100 mt-3 b-red">
          </div>

          <div class="col text-md-start text-center p-0">
              <img src="{{ "/images/footer/sachsen.webp"| absURL }}" alt="funded by Sachsen" width="536" height="321" class="img-100 mt-3 b-red">
          </div>

          <div class="col text-md-start text-center p-0">
              <img src="{{ "/images/footer/bw.webp"| absURL }}" alt="funded by Baden-Württenberg " width="901" height="167" class="img-100 mt-3 b-red">
          </div>
        </div>	
      </div>
    </div>
  </section>
</footer>
{{ "<!-- Footer End -->" | safeHTML }}

{{"<!-- Js -->" | safeHTML}}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="{{"js/jquery-3.7.1.min.js" | absURL}}"></script>
<script src="{{"js/infiniteScroll.js" | absURL}}"></script>
{{"<!-- Fonts -->" | safeHTML }}
<script src="https://kit.fontawesome.com/528b3852e1.js" crossorigin="anonymous"></script>
</body>
</html>
