{{ "<!-- Footer Start -->" | safeHTML }}
<footer id="footer pt-0 pb-0 mb-0">
	<section class="pt-0 pb-0 mb-0 pt-5 mt-0 bg-black">
		<div class="container-fluid mb-0 mt-0 pt-0">	
			<div class="row row-cols-1 row-cols-md 3 row-cols-lg-5 bg-black" style="color: white">		
				<div class="col mb-5">	
					<p class="bold mb-0">MCML</p>
					<hr class="mt-1" style="color: white; opacity: 0.75">
					<a class="footer-nav-link" href="/about/">About</a><br>
					<a class="footer-nav-link" href="/team/">People</a><br>
					<a class="footer-nav-link" href="/opportunities/">Opportunities</a><br>
					<a class="footer-nav-link" href="/about/collaborations/">Collaborations</a><br>
					<a class="footer-nav-link" href="/about/partners/">Partners</a><br>		
					<a class="footer-nav-link" href="/about/transfer/">Transfer</a><br>					
				</div>
				<div class="col mb-4">	
					<p class="bold mb-0">Research</p>
					<hr class="mt-1" style="color: white; opacity: 0.75">
					<a class="footer-nav-link" href="/research/areaa/">A | Foundations of ML</a><br>
					<a class="footer-nav-link" href="/research/areab/">B | Perception, Vision, and NLP</a><br>
					<a class="footer-nav-link" href="/research/areac/">C | Domain­-specific ML</a><br>
					<a class="footer-nav-link" href="/publications/">Publications</a><br>
					<a class="footer-nav-link" href="/publications/software/">Software</a><br>
				</div>
				<div class="col mb-4">	
					<p class="bold mb-0">Spotlight</p>
					<hr class="mt-1" style="color: white; opacity: 0.75">
					<a class="footer-nav-link" href="/news/">News</a><br>
					<a class="footer-nav-link" href="/events/">Events</a><br>
					<a class="footer-nav-link" href="/publications/">Publications</a><br>
					<a class="footer-nav-link" href="/publications/software/">Software</a><br>
					<a class="footer-nav-link" href="/opportunities/">Opportunities</a><br>
					<a class="footer-nav-link" href="/intranet/">Intranet</a><br>
				</div>	
				<div class="col mb-4">	
					<p class="bold mb-0">Social Media</p>
					<hr class="mt-1" style="color: white; opacity: 0.75">
					<a class="footer-nav-link" href="https://twitter.com/MunichCenterML">X-Twitter</a><br>
					<a class="footer-nav-link" href="https://www.linkedin.com/company/munich-center-for-machine-learning">LinkedIn</a><br>
				</div>
				<div class="col mb-4">	
					<p class="bold mb-0">Legal Information</p>
					<hr class="mt-1" style="color: white; opacity: 0.75">
					<a class="footer-nav-link" href="/imprint/">Imprint</a><br>
					<a class="footer-nav-link" href="/data-protection/">Data Protection</a><br>
					<a class="footer-nav-link" href="/contact/">Contact</a><br>
				</div>	
						
			</div>
			<hr class="mt-1" style="color: white; opacity: 0.75">
		</div>
	</section>	
	
	<section class="pt-0 pb-0 mb-0 pt-2 mt-0 bg-black">
		<div class="container-fluid mb-0 mt-0 pt-0 bg-black" style="color: white">
			<div class="row">
				<div class="col-6 col-lg-3 pb-4">
					<a href="https://www.lmu.de/en/"><img src="/images/footer/lmu_white.png" alt="Link to LMU München" width="826" height="272" class="img-100 mt-3"></a>
				</div>
			</div>
			
			<hr class="mt-3" style="color: white; opacity: 0.75">	
			<div class="row align-items-end white">
				<div class="col-12 pt-md-4 footer-bottom-right">	
					<a href="https://www.linkedin.com/company/munich-center-for-machine-learning">
						<img class="img-social pb-3" src="/images/footer/linkedin_white.png" width="100" height="100" alt="Link to LinkedIn">
					</a>
					<a href="https://twitter.com/MunichCenterML">
						<img class="img-social pb-3" src="/images/footer/twitter-x_white.png" width="100" height="100" alt="Link to X-Twitter">
					</a><br>		
								
					<a class="white" href="/imprint/">Imprint</a> | 						
					<a class="white" href="/data-protection/">Data Protection</a>					
				</div>
				
				<div class="col-12 footer-bottom-right pt-4">	
					<p class="p-xs">Data Mining Lab @ LMU | Institute for Informatics | LMU Munich | &copy;2024 | All rights reserved.</p>
				</div>
			</div>
		</div>
	</section>
</footer>
{{ "<!-- Footer End -->" | safeHTML }}

{{"<!-- Js -->" | safeHTML}}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="{{"js/jquery-3.7.1.min.js" | absURL}}"></script>
<script src="{{"js/infiniteScroll.js" | absURL}}"></script>
{{"<!-- Fonts -->" | safeHTML }}
<script src="https://kit.fontawesome.com/528b3852e1.js" crossorigin="anonymous"></script>
</body>
</html>
