{{ $baseURL := .Site.BaseURL }} 
{{"<!-- Navigation Start -->" | safeHTML}}
<section>	
	<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
		<a class="navbar-brand" href="{{ .Site.Params.lwda2021_navigation.linkto }}">
			<img src="{{ .Site.Params.navigation.logo | absURL }}" width="300px;" style="margin-top: 10px;" alt="MCML logo">
		</a>
		
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarNav">
		   	<ul class="navbar-nav ms-auto">
				{{ range .Site.Params.lwda2021_navigation.entry -}}
				{{ if eq .hasChildren "true" -}}	
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="{{.linkto}}" id="navbarDropdown" role="button" data-hover="dropdown" aria-haspopup="true" aria-expanded="false">{{ .name }}</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						{{ $id := .id -}}
						{{ range $.Site.Params.lwda2021_navigation.subentry -}}
						{{ if eq .parent $id -}}
						<a class="dropdown-item" href="{{.linkto}}">{{ .name }}</a>
						{{ end -}}
						{{ end -}}
					</div>
				</li>
				{{ else -}}
				<li class="nav-item">
					<a class="nav-link" href="{{.linkto}}">{{ .name }}</a>
				</li>
				{{ end -}}
				{{ end -}}
			</ul>
		</div>
	</nav>
</section>
{{"<!-- Navigation End -->"| safeHTML}}



<!--

        <div class="collapse navbar-toggleable-md" id="navbarResponsive">
            <ul class="nav navbar-nav menu float-lg-right" id="top-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ .Site.Params.lwda2021.linkto }}">
                        {{ with .Site.Params.lwda2021_navigation.home }} {{ . }} {{ end }}
                    </a>
                </li>
                {{ if .Site.Params.lwda2021.attending.enable }}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ .Site.Params.lwda2021.attending.linkto }}">
                            {{ with .Site.Params.lwda2021_navigation.attending }} {{ . }} {{ end }}
                        </a>
                    </li>
                {{ end }}
                {{ if .Site.Params.lwda2021.cfp.enable }}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ .Site.Params.lwda2021.cfp.linkto }}">
                            {{ with .Site.Params.lwda2021_navigation.cfp }} {{ . }} {{ end }}
                        </a>
                    </li>
                {{ end }}
                {{ if .Site.Params.lwda2021.history.enable }}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ .Site.Params.lwda2021.history.linkto }}">
                            {{ with .Site.Params.lwda2021_navigation.history }} {{ . }} {{ end }}
                        </a>
                    </li>
                {{ end }}
                {{ if .Site.Params.lwda2021.organization.enable }}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ .Site.Params.lwda2021.organization.linkto }}">
                            {{ with .Site.Params.lwda2021_navigation.organization }} {{ . }} {{ end }}
                        </a>
                    </li>
                {{ end }}
                {{ if .Site.Params.lwda2021.program.enable }}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ .Site.Params.lwda2021.program.linkto }}">
                            {{ with .Site.Params.lwda2021_navigation.program }} {{ . }} {{ end }}
                        </a>
                    </li>
                {{ end }}
            	</ul>
        </div>
    </nav>
</div>
-->
