{{ $prev := .pages.Prev .thisPage -}}
{{ $next := .pages.Next .thisPage -}}

<nav aria-label="Page navigation" class="w-100 pe-1">
	<ul class="pagination justify-content-start ms-0 ps-0 mt-0">
		{{"<!-- Previous page. -->" | safeHTML}}
		<li class="page-item">
		{{ if $prev -}}
			<a class="page-link" href="{{ $prev.Permalink }}" style="padding-bottom: 8px;">
		{{ else -}}
			<a class="page-link disabled" style="padding-bottom: 8px;">
		{{ end -}}
				<i class="fas fa-arrow-left"></i>
			</a>
		</li>
		&nbsp;
		{{"<!-- Next page. -->" | safeHTML}}
		<li class="page-item">
		{{ if $next -}}
			<a class="page-link" href="{{ $next.Permalink }}" style="padding-bottom: 8px;">
		{{ else -}}
			<a class="page-link disabled" style="padding-bottom: 8px;">
		{{ end -}}
				<i class="fas fa-arrow-right"></i>
			</a>
		</li>
		{{"<!-- All pages -->" | safeHTML}}
		&nbsp;
		<li class="page-item">
			<a class="page-link" href="/events/" style="padding-bottom: 8px;">
				<i class="fas fa-arrow-up-from-bracket"></i>
			</a>
		</li>
	</ul>
</nav>