{{ $len := .sectionLinks | len -}}
{{"<!-- Section Cards Start -->" | safeHTML}}
<div class="container-fluid pt-5 pb-5 mb-0 bg-lgray">
  {{ if .title -}}
  <div class="row">
		<div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-3  b-blue">
			<div class="card card-news bg-black ratio ratio-1x1 p-2 b-red">
		    <div class="p-3 b-green align-items-center">
			    <h2 class="b-yellow">{{ .title -}}</h2>
			 </div>
			</div>
		</div>
	</div>
	{{ end -}}
  
	{{ if eq $len 4 -}}
	<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-4 mt-0 p-2">
	{{ else -}}
	<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-3 row-cols-xl-3 mt-0 p-2">
	{{ end -}}
	
	{{ range .sectionLinks -}}
		{{ range (where site.Data.sections.card "type" .) -}}
		  {{ partial "cardDeck" (dict "title" .title "text" .text "link" .link "img" .img "copyright" .copyright) }}
	  {{ end -}}
  {{ end -}}
		
	</div>		
</div>
{{"<!-- Section Cards End -->" | safeHTML -}}




