
	<h2 id="{{ .year }}">{{ .year }}</h2>
	<hr>
	{{ range .switem }}
	<div class="row">		
		<div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
			[{{ .no }}]
		</div>
			
		<div class="col-lg-11 col-md-11 col-sm-10 col-xs-10">
			<p class="bold">{{ .swname }}.
				{{ if .swlink1 }}
				<a href="{{ .swlink1 }}">{{ .swlink1text }}</a>.
				{{ end}}
				{{ if .swlink2 }}
				<a href="{{ .swlink2 }}">{{ .swlink2text }}</a>.
				{{ end}}
			</p>
			<p class="mb-0">{{ .author }}.</p>
			<p class="mb-0 bold">{{ .title }}.</p>
			<p class="mb-0">{{ .journal}}.</p>
			{{ if .link }}
			<p class="mb-0"><a href="{{ .link }}">{{ .linktext }}</a>.</p>
			{{ end}}
			{{ if .link2 }}
			<p class="mb-0"><a href="{{ .link2 }}">{{ .linktext2 }}</a>.</p>
			{{ end}}
		</div>
	</div>
	<hr class = "light">		  
	{{ end }} 
	<br>
	<br>
