{{ define "content" }}
{{"<!-- content home.html Start -->" | safeHTML}}
{{ partial "content.html" . }}
{{ partial "hero-area.html" . }}
{{"<!-- content home.html End -->" | safeHTML}}
{{- end -}}

{{ define "lastmod" }}
{{"<!-- lastmod home.html Start -->" | safeHTML}}
{{ $news := partialCached "getAllNews" . -}}
{{ $lastnews := index $news 0 -}}
{{ $lastmod := $lastnews.Date -}}
{{/* partial "lastMod" (dict "bgcolor" "bg-yellow" "date" .Date "lastmod" $lastmod) - */}}
{{ partial "lastMod" (dict "date" .Date "lastmod" $lastmod) -}}
{{"<!-- lastmod home.html End -->" | safeHTML}}
{{- end -}}
