{{ partial "header.html" . }}
{{ partial "navigation.html" . }}

{{ $path := printf "/static%s" .Params.img -}} 
{{ if not (os.FileExists $path) -}}
{{ errorf "The event %q requires a valid image path:%q" .Permalink $path}}
{{ end -}}

{{ if not .Params.eventDate -}}
{{ errorf "The event %q requires a eventDate parameter." .Permalink }}
{{ end -}}

{{ if not .Params.eventDate.start -}}
{{ errorf "The event %q requires a eventDate start parameter." .Permalink }}
{{ end -}}

{{ if not .Params.eventDate.end -}}
{{ errorf "The event %q requires a eventDate end parameter." .Permalink }}
{{ end -}}

{{ if and .Params.subtitle .Params.speakers -}}
{{ errorf "The event %q has speaker and subtitle." .Permalink }}
{{ end -}}

{{ if and (not .Params.subtitle) (not .Params.speakers) -}}
{{ errorf "The event %q has no speaker and no subtitle." .Permalink }}
{{ end -}}

{{ $pages := (sort (where site.RegularPages "Section" "events") ".Params.eventDate.end" "desc") }}

{{ $startDate := .Params.eventDate.start -}}
{{ $endDate := .Params.eventDate.end -}}
{{ $starttime := $startDate | time.Format ":time_short" -}}
{{ $endtime := $endDate | time.Format ":time_short" -}}

{{"<!-- Content Start list-->" | safeHTML}}
<section class="list-content pb-3" style="background: url('/images/background/sections/bg-mask-top-yellow.webp') left top no-repeat, url('/images/background/sections/bg-mask-bottom-yellow.webp') left bottom no-repeat;">
	{{ partial "breadcrumbs.html" . }} 
	
	<div class="container-fluid pb-0 pt-0"> 
		<div class="row">
			<div class="col" style="text-align: right">
				{{ partial "pagination_eventitem" (dict "pages" $pages "thisPage" . ) }}
			</div>
		</div>
	</div>

	<div class="container-fluid mt-0 pt-0">
		<div class="row">
	  	<div class="col-12 col-lg-8">		
			<div class="row">
				<div class="col-xs-12 col-md-8 col-xxl-6">
					{{ partial "eventDate" (dict "startDate" $startDate "endDate" $endDate "margin_start" "0" "format" "en") }}
					<img data-cms-bind="#img" src="{{ .Params.img }}" alt="Teaser image to {{ .Title }}" width="300" height="200"‚ class="img-100 ms-3 pe-3 pt-3">
					{{ if .Params.copyright -}}
					<p data-cms-bind="#copyright" class="ms-3 pt-0 pb-0 mb-1 copyright">&copy;{{ .Params.copyright }}</p>
					{{ else -}}
					<p data-cms-bind="#copyright" class="pt-0 pb-0 mb-1 copyright">&nbsp;</p>
					{{ end -}}
				</div>
			</div>
			
			<div class="row ms-3 ps-0 me-1">
				<div class="col-12 ps-0">						
					<h1 class="h2" data-cms-bind="#title">{{ .Title }}</h1>
					{{ if .Params.subtitle -}}
					<h2 class="h3" data-cms-bind="#subtitle" class="h3">{{ .Params.subtitle }}</h2>
					{{ else if .Params.speakers -}}
					{{ $index := 1 -}}
					{{ $len := .Params.speakers | len -}}
  					<h2 class="h3" data-cms-bind="#speakers">
  						{{ range .Params.speakers -}}
  						{{ .name }}, {{ .affiliation}}
						{{ if lt $index $len -}}<br>{{ end -}}
						{{ $index = add $index 1 -}}
  						{{ end -}}
					</h2>
  					{{ end -}}
					
					<p class="p-s mb-1 gray" data-cms-bind="#eventDate"><i class="fa-solid fa-calendar-days" style="width: 0.6rem"></i>&nbsp;&nbsp; {{ partial "eventDate" (dict "startDate" $startDate "endDate" $endDate ) }}</p>
							
					{{ if not .Params.eventDate.allDay -}}
					<p class="p-s mb-1 gray" data-cms-bind="#eventDate"><i class="fa-solid fa-clock" style="width: 0.6rem"></i>&nbsp;&nbsp; {{ $starttime }} - {{ $endtime }}</p>
					{{ end -}}
					<p class="p-s mb-3 gray" data-cms-bind="#location"><i class="fa-solid fa-location-dot" style="width: 0.6rem"></i>&nbsp;&nbsp; {{ .Params.location }}</p>

					{{ if .Content -}}
						{{ .Content }}	
					{{ else -}}
					<div data-cms-bind="#teaser">
						{{ partial "myMarkdownify" (dict "txt" .Params.teaser ) }}
					</div>
					
					{{ if .Params.moderators -}}
					<div data-cms-bind="#moderators">
						<p class="pt-3 mb-1 bold">Moderation:</p> 
						{{ range .Params.moderation -}}
					  	<p class="mb-1"><span style="font-weight: bold">{{ .name }}</span> <span><i>{{ .affiliation }}</i></span></p>
						{{ end -}}
					</div>
					{{ end -}}
					
					{{ if .Params.zoom -}}
					{{ if ge (time.AsTime .Params.eventDate.end) now -}}
					<div data-cms-bind="#zoom">
						{{ partial "learnMore" (dict "link" .Params.zoom "text" "Join via zoom" "size" "medium") -}}
					</div>
					{{ end -}}
					{{ end -}}
					
					{{ if .Params.link -}}
					{{ if ge (time.AsTime .Params.eventDate.end) now -}}
					<div data-cms-bind="#link">
						{{ partial "learnMore" (dict "link" .Params.link "size" "medium") -}}
					</div>
					{{ end -}}
					{{ end -}}
					{{ end -}}
					
					{{ if .Params.organizers -}}
					<div data-cms-bind="#organizers">
						<p class="pt-3 mb-1 bold">Organized by:</p> 
					  	{{ range .Params.organizers -}}
						<p class="mb-1"><span style="font-weight: bold">{{ .name }}</span> <span><i>{{ .affiliation }}</i></span></p>
						{{ end -}}
					</div>
					{{ end -}}
					
				</div>
				<hr class="mt-3">
			</div>
		</div>
				
			<div data-cms-bind="#tags" class="col-lg-4 col-sm-12 col-xs-12 ps-lg-4">
				<h3>Related</h3>
				
				{{ if .Params.tags -}}
					{{ $mytag := index .Params.tags 0 -}}
					{{ $myurl := .Permalink -}}
					{{ $tagpages := where $pages "Params.tags" "intersect" (slice $mytag) -}}
					{{ $index := 0 -}}
					{{ range $tagpages -}}
					    {{ if eq .Section "events" }}
							{{ if ne $myurl .Permalink -}}
								{{ $index = add $index 1 -}}
								{{ partial "cardRelatedEvent" . }}
								<hr>
							{{ end -}}
						{{ end -}}
						{{ if eq $index 5 -}}
							{{ break -}}
						{{ end -}}
					{{ end -}}	
				{{ end -}}	
			</div>
		</div>
	</div>
</section>
{{"<!-- Content End -->" | safeHTML}}

{{ partial "footer.html" . }}