{{ partial "header.html" . }}
{{ partial "navigation.html" . }}

{{ $events := (sort (where site.RegularPages "Section" "events") ".Params.eventDate.start" "desc") -}}
{{ $futureEvents := slice -}}
{{ range $events -}}
	{{ if ge (time.AsTime .Params.eventDate.end) now -}}
      	{{ $futureEvents = $futureEvents | append . -}}
	{{ end -}}
{{ end -}}

{{"<!-- Content Start Events -->" | safeHTML}}
<section class="list-content bg-mask-top-white">	
	{{ partial "breadcrumbs.html" . }} 
	<div class="container-fluid"> 
		<div class="row row-cols-1 row-cols-lg-2">
			<div class="col">
				{{ if .Params.shorttitle -}}
				<h1>{{ .Params.shorttitle | markdownify }}</h1>
				{{ else -}}
				<h1>{{ .Title }}</h1>
				{{ end -}}
			</div>
		    
			<div class="col d-flex justify-content-end align-items-center pt-0 pb-0 ps-0 pe-0">
				<div class="row row-cols-1">
					<div class="col d-flex justify-content-end">
						{{ partial "learnMore" (dict "link" "/events/pastevents/" "size" "medium" "text" "Past Events" "margin" "0") -}}
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid mt-0 pt-0">
		<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 mt-0 posts" id="posts">			
		{{ $range := $futureEvents }}
		{{ $paginator := .Paginate $range }}
		{{ $pageSize := $paginator.PageSize }}
		{{ $totalPostsToShow := mul $paginator.PageNumber $pageSize }}
		{{ range $index, $el := (first $totalPostsToShow $futureEvents.Reverse) }}
			<div {{ if eq $index (sub $totalPostsToShow $pageSize) }}id="newpage"{{ end }} class="post col mt-3 mb-3">
				{{ .Scratch.Set "hero" false -}}
				{{ partial "cardShortEvent" . -}}
			</div>
		{{ end }}
		{{ if and (gt $paginator.TotalPages 1) ($paginator.HasNext) }}
			<div>
				<a href="{{ $paginator.Next.URL }}#newpage" class="quicklink has--icon mt-0 mb-0 medium nextpage">
					<span class="quicklink_icon">
						<i class="fas fa-arrow-right"></i>
					</span>
					Load more
				</a>
			</div>
		{{ end }}
		</div>
	</div>
</section>

<section class="list-content bg-mask-top-white">
	<div class="container-fluid mb-0">
		<div class="row">
			<h2 class="pb-2">MCML Events Calendar</h2>
			<div class="col-lg-6 mx-auto">
				<iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=2&bgcolor=%23ffffff&ctz=Europe%2FBerlin&hl=en&showPrint=0&showCalendars=1&showTabs=1&src=Y2diYjMwOWRwZTlqcWhhNGV2cG05dGU3bG9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%233F51B5" style="border-width:0;" width="100%" height="600" frameborder="0" scrolling="no" title="MCML Events Calendar"></iframe>
			</div>
			
			<div class="col-lg-6 mx-auto pt-lg-5">
				<p>The MCML Events Calendar collects different types of events happening at and around the Munich Center for Machine Learning. </p>
				<p>To add an event to the MCML Events Calendar please write an Email to <a href="mailto:events@mcml.ai">events@mcml.ai</a>.</p>
			</div>
		</div>
	</div>
</section>
{{"<!-- Content End Events-->" | safeHTML}}

{{ partial "footer.html" . }}