{{ partial "header.html" . }}
{{ partial "navigation.html" . }}

{{ .Scratch.Set "hero" false -}}

{{ $startDate := .Params.eventDate.start -}}
{{ $endDate := .Params.eventDate.end -}}

{{ $events := (sort (where site.RegularPages "Section" "events") ".Params.eventDate.start" "asc") -}}
{{ $pastEvents := slice -}}
{{ range $events -}}
	{{ if lt (time.AsTime .Params.eventDate.end) now -}}
		{{ $pastEvents = $pastEvents | append . -}}
	{{ end -}} 
{{ end -}}

{{"<!-- Content Start Past Events -->" | safeHTML}}
<section  class="list-content bg-mask-top-white">
	{{ partial "breadcrumbs.html" . }} 
	<div class="container-fluid"> 
		<div class="row row-cols-1 row-cols-lg-2">
			<div class="col">
				{{ if .Params.shorttitle -}}
				<h1>{{ .Params.shorttitle | markdownify }}</h1>
				{{ else -}}
				<h1>{{ .Title }}</h1>
				{{ end -}}
			</div>
		    
			<div class="col d-flex justify-content-end align-items-center pt-0 pb-0 ps-0 pe-0">
				<div class="row row-cols-1">
					<div class="col d-flex justify-content-end">
						{{ partial "learnMore" (dict "link" "/events/" "size" "medium" "text" "Upcoming Events" "margin" "0") -}}
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid mt-0 pt-0">
		<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 mt-0 posts" id="posts">			
		{{ $range := $pastEvents }}
		{{ $paginator := .Paginate $range }}
		{{ $pageSize := $paginator.PageSize }}
		{{ $totalPostsToShow := mul $paginator.PageNumber $pageSize }}
		{{ range $index, $el := (first $totalPostsToShow $pastEvents.Reverse) }}
			<div {{ if eq $index (sub $totalPostsToShow $pageSize) }}id="newpage"{{ end }} class="post col mt-3 mb-3">
				{{ partial "cardShortEvent" . -}}
			</div>
		{{ end }}
		{{ if and (gt $paginator.TotalPages 1) ($paginator.HasNext) }}
			<div>
				<a href="{{ $paginator.Next.URL }}#newpage" class="quicklink has--icon mt-0 mb-0 medium nextpage">
					<span class="quicklink_icon">
						<i class="fas fa-arrow-right"></i>
					</span>
					Load more
				</a>
			</div>
		{{ end }}
		</div>
	</div>
</section>

{{ if .Params.sectionlinks -}}
<section class="list-content pt-0">	
	{{ partial "sectionCards" .Params.sectionlinks}}
</section>
{{ end -}}
{{"<!-- Content End Events-->" | safeHTML}}

{{ partial "footer.html" . }}