{{ partial "header.html" . }}
{{ partial "navigation.html" . }}

{{"<!-- Content Start -->" | safeHTML}}
<section class="list-content" id="section">	
	{{ partial "breadcrumbs.html" . }} 
	{{ partial "makeTitle.html" . }}	
	
	<div id="content" class="container-fluid mt-0 pt-0 mb-0">
	  {{ .Content }}
	  
	  {{ $areas := slice -}}
	  
	  {{ $scratch := newScratch -}}
	    {{ range sort .Pages "Params.order" "asc" -}}
	      {{ $leaderurl := strings.TrimRight "/" .Params.leader }}
	      {{ $leaderPage := $.Site.GetPage $leaderurl -}}
	      
	      {{ $scratch.SetInMap "leaders" "$leaderPage.Params.order" .Params.leader -}}
	   {{ end -}}
	   
	   {{ $leaderMap := $scratch.Get "leaders" -}}	
	   {{ $leaderMap }}
	   
	   {{ range $leaderMap -}}
	   {{ end -}}
	
	{{ range sort .Pages "Params.order" "asc" -}}
	  {{ $area := (dict "title" .Params.title "img" .Params.image "copyright" .Params.copyright "link" .Permalink "text" "" ) -}}
	  {{ $areas = $areas | append $area -}}
	{{ end -}}
	
	</div>
	
	{{ partial "sectionCards" (dict "sectionLinks" $areas "title" "Research Areas" ) }}

</section>
{{"<!-- Content End -->" | safeHTML}}

{{ partial "footer.html" . }}