{{ partial "header.html" . }}
{{ partial "navigation.html" . }}

{{"<!-- Content Start -->" | safeHTML}}
<section class="list-content" id="section">	
	{{ partial "breadcrumbs.html" . }} 
	{{ partial "makeTitle.html" . }}	
	
	<div id="content" class="container-fluid mt-0 pt-0 mb-0">
	  {{ .Content }}
	</div>
	  
	{{ $areas := slice -}}
	
	{{ $scratch := newScratch -}}
	{{ range sort .Pages "Params.order" "asc" -}}
	  {{ $page := $.GetPage .Params.leader -}}
	  page: {{ $page }}
	  {{ $scratch.SetInMap "leaders" .Params.leader .Params.leader -}}
	{{ end -}}
	
	{{ $leaderMap := $scratch.Get "leaders" -}}	
	{{ $leaderMap }}
	
	{{ $pages := sort .Pages "Params.leader" "asc" -}}
	
	{{ range sort .Pages "Params.order" "asc" -}}
	  {{ $area := (dict "title" .Params.title "img" .Params.image "copyright" .Params.copyright "link" .Permalink "text" "" ) -}}
	  {{ $areas = $areas | append $area -}}
	{{ end -}}
	
	{{ partial "sectionCards" (dict "sectionLinks" $areas "title" "Research Areas" ) }}

</section>
{{"<!-- Content End -->" | safeHTML}}

{{ partial "footer.html" . }}