{{ partial "header.html" . }}
{{ partial "navigation.html" . }}

{{"<!-- Content Start -->" | safeHTML}}
<section class="list-content" id="section">	
	{{ partial "breadcrumbs.html" . }} 
	{{ partial "makeTitle.html" . }}	
	
	<div id="content" class="container-fluid mt-0 pt-0 mb-0">
	  
	  {{ .Content }}
	  
	  Pages: {{ .Pages }}
	  
		<div class="row mt-0 posts">		
		{{ range sort .Pages "Params.order" "asc" -}}
		{{ . }}
		  <div class="post col-12 col-lg-6 mt-3 mb-3">
				{{ partial "cardMember" . -}}
			</div>
		{{ end -}}
		</div>
	
	
	</div>
</section>
{{"<!-- Content End -->" | safeHTML}}

{{ partial "footer.html" . }}