{{ partial "header.html" . }}
{{ partial "navigation.html" . }}

{{"<!-- Content Start list -->" | safeHTML}}
<section class="list-content bg-mask-top-green" id="section">	
	{{ partial "breadcrumbs.html" . }} 
	<div class="container-fluid"> 
		<div class="row align-items-center">
			<div class="col-6">
				{{ if .Params.shorttitle -}}
					<h1>{{ .Params.shorttitle | markdownify }}</h1>
				{{ else -}}
					<h1>{{ .Title }}</h1>
				{{ end -}}
			</div>
			{{ partial "search-form.html" . }}
		</div>
	</div>
	
	<div class="container-fluid mt-0 pt-0">
		<div class="row row-cols-1">
			{{ partial "listPublications.html" . }}
		</div>
	</div>
</section>
{{"<!-- Content End -->" | safeHTML}}

{{ partial "footer.html" . }}