{{- $type := .Get "type" }}

{{- if eq $type "institutional"}}
	<div class="row justify-content-end">
		{{- range sort (where .Site.Data.partners.partner "type" $type) "name" }}
		
			{{ $path := printf "/static%s" .image -}} 
			{{ if not (os.FileExists $path) -}}
			{{ errorf "The image at %q requires a valid image path:%q" .Page.Permalink $path}}
			{{ end -}}
		
			<div class="col-md-4 col-sm-6 col-xs-6">
			<a href="{{ .link }}">
				<img src="{{ .image }}" class="partner-img" alt="{{ .name }}">
			</a>
		</div>
		{{ end }}
	</div>


{{- else }}
	<div class="row justify-content-end">
		{{- range sort (where .Site.Data.partners.partner "type" $type) "name" }}
		<div class="col-md-3 col-sm-6 col-xs-6">
			<a href="{{ .link }}">
				<img src="{{ .image }}" class="partner-img" alt="{{ .name }}">
			</a>
		</div>
		{{ end }}
	</div>


{{- end}}