<div class="row mb-lg-5 mt-lg-5">
	<div class="col col-12 col-lg-4 pe-lg-4 txtTwoCol">
		<h2 id="{{ .Get "id" }}">{{ .Get "title" | markdownify }}</h2>
		{{ if .Get "img" -}}
		  <img class="img-100" src="{{ .Get "img" }}" alt="{{ .Get "title" }}" width="300" height="200"><br>
		  {{ if .Get "copyright" -}}
		  <p class="pt-0 pb-0 mb-0 copyright">&copy;{{ .Get "copyright" }}</p>
		  {{ end -}}
		  {{ if .Get "caption" -}}
		  <p class="mt-1 p-xs gray">{{ .Get "caption" }}</p>
		  {{ end -}}
		{{ end -}}
	</div>
	<div class="col col-12 col-lg-8 txtTwoCol">
		{{ if .Get "img" -}}
		{{ partial "img-float" (dict "src" (.Get "img") "caption" (.Get "caption") "alt" (.Get "title") "float" (.Get "float") "copyright" (.Get "copyright")) -}}
		{{ end -}}
		
		{{ if .Get "nofloat" -}}
		{{ if eq (.Get "nofloat") "true" -}}
		<div style="clear:both;"></div>
		{{ end -}}
		{{ end -}}
		
		{{ partial "myMarkdownify" (dict "txt" (.Get "txt1")) }}
		
		<div style="clear:both;"></div>
		
		{{ if .Get "link" -}}
		{{ partial "learnMore" (dict "link" (.Get "link") "text" (.Get "linktext") "size" ("medium")) -}}
		{{ end -}}		
	</div>
</div>